<%- include('../partials/header.ejs', { path }) %>

<section class="form">
  <div class="container">

    <div class="box-form">
      <h1>
        Add a new Product
        <i class="fa-solid fa-cart-plus"></i>
      </h1>
      
      <form action="" method="POST">
        <input type="text" name="name" placeholder="Name">
        <input type="number" name="price" step="0.01" placeholder="Price">
        <input type="text" name="image" placeholder="Image URL">

        <input type="submit" value="Add Product">
      </form>
    </div>
  </div>
</section>

<%- include('../partials/footer.ejs') %>
